body{
  background-color: silver;
}

h1{
display:flex;
align-items:center;
justify-content:center;
}

p{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  font-size: 100em;
}

img {
  max-height: 400px;
  min-height: 400px;
  max-width: 400px;
  min-width: 400px;

} 



#img-container {
  display: flex;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  object-fit:fill;
  width: 100%;
  height: 400px;
}

canvas{
  display: flex;
  align-items: center;
  justify-content: center;
}

